<form class="" action='/create-player', method='POST'>
	<input type='text' name='playername' placeholder='playername'>
	<input type='text' name='timing' placeholder='timing'>
	<button type='submit'>Submit</button>
</form>